.wc3 {
    margin: 100px auto 0px auto;
}
.wc3 img{
    width: 220px;
    height: 313px;
}
.wc3tft {
    margin: 100px auto 0px auto;
}
.wc3tft img{
    width: 220px;
    height: 313px;
}

.rayman2 {
    margin: 100px auto 0px auto;
}
.rayman2 img{
    width: 220px;
    height: 313px;
}

.rayman3 {
    margin: 100px auto 0px auto;
}
.rayman3 img{
    width: 220px;
    height: 313px;
}

.orangebox {
    margin: 100px auto 0px auto;
}
.orangebox img{
  display:block;
    width: 400px;
    height: 144px;
    margin: 0px auto 50px auto;
}
.ob {
    margin: 0px 0% 50px 50%;
}
